:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --section-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-heder-footer-color: #2f303a;
  --button-second-color: #188ce8;
  --button-galery-box: #f5f4fa;
  --border-color: #ececec;
  --border-second-color: #afb1b8;
  --shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
  --primary-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --second-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --third-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: var(--primary-text-color);
  font-family: var(--main-font), sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link-ul {
  list-style: none;
}

.link-a-href {
  text-decoration: none;
}

.button,
.button-galery {
  cursor: pointer;
}

.section {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  font-family: var(--secondary-font);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo-header {
  color: var(--primary-black-color);
  margin-right: 93px;
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 88px;
  }
}

.logo-footer {
  color: var(--primary-white-color);
  display: block;
  margin-bottom: 20px;
}

.logo__icon {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
}

.section-text {
  line-height: 1.71;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--section-text-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.19;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
  height: 609px;
  background: var(--primary-white-color);
  transform: translate(-50%, -50%);
  animation-name: changeModalBtn;
  animation-duration: 250ms;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@keyframes changeModalBtn {
  25% {
    transform: scale(25%);
    transform: opacity(25%);
  }
  50% {
    transform: scale(50%);
    transform: opacity(50%);
  }
  75% {
    transform: scale(75%);
    transform: opacity(75%);
  }
  100% {
    transform: scale(100%);
    transform: opacity(100%);
  }
}

.modal-form {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
  display: flex;
  flex-direction: column;
}

.modal-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--section-text-color);
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-icon-form {
  color: var(--section-text-color);
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-icon-form {
  fill: var(--accent-color);
}

.form-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.form-label .form-message {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-relative {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
}

.form-message:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-message::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  line-height: 1.71;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-label::before {
  content: ' ';
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--section-text-color);
  margin-right: 7px;
}

.form-checkbox:checked + .checkbox-label::before {
  background-image: url("../images/sprite/icon-check.svg");
  background-color: var(--accent-color);
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: padding-box;
}

.form-checkbox:focus + .checkbox-label::before {
  border-color: var(--button-second-color);
  width: 16px;
  height: 15px;
}

.checkbox-link {
  color: var(--accent-color);
}

.btn-send {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  font-family: inherit;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  width: 200px;
  box-shadow: var(--shadow-btn);
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover, .btn-send:focus {
  background-color: var(--button-second-color);
}

.team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.team__icon {
  color: var(--border-second-color);
}

.team__icon:hover, .team__icon:focus {
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.join-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover, .join-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.join-icon {
  color: var(--primary-white-color);
}

.join-title {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.join-title:not(:last-child) {
  margin-right: 10px;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.menu {
  display: none;
}

.contact {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  padding: 0;
  margin: 0;
  line-height: 0;
}

.burger-btn {
  border: none;
  line-height: 0;
  background-color: transparent;
  padding: 0;
  color: var(--border-color);
  transition: fill 250ms linear;
}

.burger-btn:focus, .burger-btn:hover {
  fill: var(--accent-color);
}

.container-mobile {
  position: relative;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-btn {
  border: none;
  line-height: 0;
  background-color: transparent;
  padding: 0;
  color: var(--border-color);
}

.mobile-menu__close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  align-items: center;
  transition: fill 250ms linear;
}

.mobile-menu__close-btn:focus, .mobile-menu__close-btn:hover {
  fill: var(--accent-color);
}

.close-btn__icon {
  width: 40px;
  height: 40px;
}

.container-mobile {
  padding-top: 48px;
  padding-left: 55px;
}

.nav-list__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--section-text-color);
  transition: color 250ms linear;
}

.nav-list__item:hover, .nav-list__item:focus {
  color: var(--accent-color);
}

.nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.section-phone {
  padding-top: 302px;
}

.phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.phone:not(:last-child) {
  margin-bottom: 32px;
}

.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms linear;
}

.mail:hover, .mail:focus {
  color: var(--accent-color);
}

.section-social {
  padding-top: 64px;
  display: flex;
}

.social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-item:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 21px;
  }
  .burger {
    display: none;
  }
  .container-general,
  .header-container,
  .navigation,
  .menu-tablet {
    display: flex;
    align-items: center;
  }
  .section-list {
    margin-left: 84px;
    flex-direction: column;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .contact__icon {
    margin-right: 8px;
    color: var(--primary-text-color);
  }
  .menu,
  .menu__link {
    color: var(--section-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu .current,
  .menu__link .current {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu:hover, .menu:focus,
  .menu__link:hover,
  .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .section-after {
    position: relative;
  }
  .current::after {
    content: ' ';
    display: block;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-top: 28px;
    position: absolute;
    bottom: -34px;
  }
  .contact__mail-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__mail-link:hover, .contact__mail-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .contact__phone-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__phone-link:hover, .contact__phone-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .section-list {
    flex-direction: row;
    margin-left: 305px;
  }
  .contact__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .current::after {
    bottom: -32px;
  }
  .contact__icon {
    margin-right: 10px;
  }
  .menu__icon {
    color: #000000;
  }
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  .menu-button .menu__icon {
    display: none;
  }
}

.hero {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: var(--primary-heder-footer-color);
  flex-grow: 1;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: url("../images/mobile/bg-main.jpg");
  background-size: cover;
  max-width: 100%;
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  color: var(--primary-white-color);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: var(--primary-white-color);
  background-color: var(--button-second-color);
}

@media (min-device-pixel-ratio: 2) and (min-width: 280px), (min-resolution: 192dpi) and (min-width: 280px), (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: url("../images/mobile/bg-main@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../images/tablet/bg-main.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url("../images/tablet/bg-main@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../images/hero-img/img-hero.jpg");
  }
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    max-width: 696px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("../images/hero-img/img-hero@2x.jpg");
  }
}

.about__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--section-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about__info {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.headline-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--button-galery-box);
  border: 1px solid var(--button-galery-box);
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .about__text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .section-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .about__item {
    flex-basis: 33.33%;
  }
  .headline-div {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
  }
  .section-item {
    flex-wrap: nowrap;
    align-items: center;
  }
  .headline-div {
    width: 270px;
  }
  .about {
    margin-top: -30px;
    margin-left: -30px;
  }
  .about__item {
    margin-top: 30px;
    margin-left: 30px;
  }
}

.wort-item {
  margin-bottom: 50px;
}

.section-padding {
  padding-bottom: 94px;
}

@media screen and (max-width: 1170px) {
  .section-padding {
    display: none;
    padding-bottom: 60px;
  }
}

.work-space {
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-space__item + .work-space__item {
  margin-left: 30px;
}

.container__work-space {
  position: relative;
}

.work-space__overlay {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  text-align: center;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  right: 0;
  bottom: 0;
}

.section-title-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--section-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.section-text-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team__text {
  margin-bottom: 30px;
}

.section-team {
  box-shadow: var(--third-shadow);
  background-color: var(--primary-white-color);
  margin-bottom: 30px;
}

.comand-fon {
  background-color: var(--button-galery-box);
  padding-bottom: 60px;
}

.team-icon {
  display: block;
  max-width: 100%;
  height: auto;
}

.team {
  display: flex;
  justify-content: center;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 122px;
  padding-right: 122px;
}

.team-link {
  margin-left: 22px;
}

@media screen and (min-width: 768px) {
  .team-picture {
    width: 354px;
    height: 374px;
  }
  .section-item {
    display: flex;
  }
  .section-team {
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 30px;
  }
  .section-ul-team {
    margin-top: -30px;
    margin-left: -30px;
  }
  .team-box {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team-picture {
    width: 270px;
    height: 260px;
  }
  .team__text {
    margin-bottom: 50px;
  }
  .team-box {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .comand-fon {
    margin-bottom: 0;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1170px) {
  .comand-fon {
    padding-bottom: 60px;
  }
}

.partner__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--section-text-color);
  text-align: center;
  margin-bottom: 30px;
}

.partner {
  margin-bottom: 0;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partner__item {
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 2);
}

.partner__link {
  fill: var(--border-second-color);
  border: 1px solid var(--border-second-color);
  border-radius: 4px;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partner__link:hover, .partner__link:focus {
  border-color: var(--accent-color);
  box-shadow: var(--third-shadow);
  fill: var(--accent-color);
}

.partner__icon {
  color: var(--border-second-color);
}

@media screen and (min-width: 768px) {
  .partner__item {
    margin-bottom: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .partner {
    margin-bottom: 0;
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
  }
  .partner__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    color: var(--section-text-color);
    text-align: center;
    margin-bottom: 50px;
  }
  .partner__item {
    margin-left: 30px;
    flex-basis: calc((100% - 180px) / 6);
  }
  .partner__link {
    width: 170px;
    justify-content: center;
  }
  .partner__icon {
    color: var(--border-second-color);
  }
}

.footer {
  background-color: var(--primary-heder-footer-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  text-decoration: none;
}

.footer-address:hover, .footer-address:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.footer-phone,
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  text-decoration: none;
}

.footer-phone:hover, .footer-phone:focus, .footer-phone:hover, .footer-phone:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.footer-text {
  font-weight: 700;
  color: var(--primary-white-color);
}

.text-join {
  margin-bottom: 20px;
}

.section-footer {
  margin-bottom: 8px;
  line-height: 1.71;
}

.join-ul {
  display: flex;
}

.box-one {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 60px;
}

.container-email {
  text-align: center;
}

.container-join {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.mail-user {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--primary-white-color);
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: var(--shadow-btn);
  border-radius: 4px;
}

.user-email input {
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.user-email input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.click {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 29px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.click:hover, .click:focus {
  box-shadow: var(--shadow-btn);
}

.mail-pic {
  fill: var(--primary-white-color);
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .container-join {
    margin-right: 89px;
  }
  .container-tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .box-one {
    text-align: left;
    margin-bottom: 0px;
    margin-left: 76px;
  }
  .user-email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-footer {
    margin-bottom: 9px;
    text-align: left;
  }
  .logo-footer,
  .footer-text {
    text-align: left;
  }
  .box {
    display: flex;
    align-items: baseline;
  }
  .box-one {
    margin-right: 70px;
    margin-left: 0;
  }
  .container-email {
    margin: 0 auto;
  }
  .container-join {
    margin-right: 93px;
  }
  .user-email {
    flex-direction: row;
  }
  .user-email input {
    margin: 0;
    padding-left: 16px;
    padding-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .user-email input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .mail-user {
    width: 358px;
  }
  .click {
    margin-left: 12px;
  }
}

.section-photo-item {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-ul-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.section-li-btn:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.section-li-galery {
  margin-bottom: 30px;
}

.gallery-icon {
  display: block;
  max-width: 100%;
  height: auto;
}

.galery-box {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.galery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery-link:hover, .galery-link:focus {
  box-shadow: var(--second-shadow);
}

.galery-link:hover .overlay,
.galery-link:focus .overlay {
  transform: translateY(0%);
}

.galery-img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: translateY(101%);
  transition: transform 250ms linear;
}

.section-title-galery {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: var(--section-text-color);
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.section-text-galery {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .section-ul-portfolio {
    justify-content: center;
    margin-bottom: 50px;
  }
  .section-ul-galery {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .section-li-galery {
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 30px;
  }
  .galery-box-test {
    padding-left: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    overflow: auto;
  }
  .section-ul-galery {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.button-galery {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  color: var(--section-text-color);
  background-color: var(--button-galery-box);
  font-family: inherit;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-galery:hover, .button-galery:focus {
  color: var(--primary-white-color);
  background-color: var(--button-second-color);
  box-shadow: var(--primary-shadow);
}
/*# sourceMappingURL=main.css.map */