.about-section {
  padding-bottom: 60px;
}

.about__text {
  @include font(14px, 700, 1.14);
  color: var(--section-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about__info {
  @include font(14px, 400, 1.71);
  letter-spacing: 0.03em;
  margin-bottom: 0px;
}

.headline-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--button-galery-box);
  border: 1px solid var(--button-galery-box);
  border-radius: 4px;
  margin-bottom: 30px;
}

.about__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .about__text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .section-item {
    display: flex;
    flex-wrap: wrap;
  }

  .headline-div {
    width: 354px;
  }

  .about {
    margin-top: -30px;
    margin-left: -30px;
  }
  .about__item {
    margin-top: 30px;
    margin-left: 30px;
  }

  .about__item {
    flex-basis: calc(100% / 2 - 30px);
  }

  .about__item {
    margin-bottom: 0;
  }

  .about__item:not(:last-child) {
    margin-bottom: 0;
  }
  .about__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about__text {
    @include font(14px, 700, 1.71);
  }

  .section {
    padding-bottom: 0;
  }

  .section-item {
    flex-wrap: nowrap;
    align-items: center;
  }

  .headline-div {
    width: 270px;
  }

  .about__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}
