.about__text {
  @include font(14px, 700, 1.14);
  color: var(--section-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about__info {
  @include font(14px, 400, 1.71);
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.headline-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--button-galery-box);
  border: 1px solid var(--button-galery-box);
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .about__text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .section-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .about__item {
    flex-basis: 33.33%;
  }

  .headline-div {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about__text {
    @include font(14px, 700, 1.71);
  }

  .section-item {
    flex-wrap: nowrap;
  }

  .headline-div {
    height: 120px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-galery-box);
    border: 1px solid var(--button-galery-box);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .about {
    margin-top: -30px;
    margin-left: -30px;
  }

  .section-item {
    align-items: center;
  }

  .about__item {
    margin-top: 30px;
    margin-left: 30px;
  }
}

// .about-section {
//   @media screen and (max-width: 1170px) {
//     padding-bottom: 60px;
//   }
// }

// .section-item {
//   display: flex;
//   align-items: center;
// }

// .about__item {
//   margin-top: 30px;
//   margin-left: 30px;
//   width: 270px;
// }

// .headline-div {
//   height: 120px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: var(--button-galery-box);
//   border: 1px solid var(--button-galery-box);
//   border-radius: 4px;
//   margin-bottom: 30px;
// }
