.footer {
  background-color: var(--primary-heder-footer-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
    text-decoration: none;
  }
}

.footer-phone,
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  text-decoration: none;

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: var(--accent-color);
    text-decoration: none;
  }
}

.footer-text {
  font-weight: 700;
  color: var(--primary-white-color);
}
.text-join {
  margin-bottom: 20px;
}

.section-footer {
  margin-bottom: 8px;
  line-height: 1.71;
}

.join-ul {
  display: flex;
}

.container-tablet {
  margin-bottom: 60px;
}

.box-one {
  text-align: center;
  margin-bottom: 60px;
}

.container-email {
  text-align: center;
}

.container-join {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail-user {
  @include font(16px, 400, 1.25);
  color: var(--primary-white-color);
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: var(--shadow-btn);
  border-radius: 4px;
}

.user-email {
  & input {
    margin-bottom: 20px;
    padding-left: 16px;
    padding-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  & input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.click {
  @include font(16px, 700, 1.87);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 29px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: var(--shadow-btn);
  }
}

.mail-pic {
  fill: var(--primary-white-color);
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .mail-user {
    width: 450px;
  }

  .container-tablet {
    margin-bottom: 60px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  .box-one {
    text-align: left;
    text-align: center;
    margin-bottom: 0;
  }

  .user-email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-footer {
    margin-bottom: 9px;
    text-align: left;
  }

  .logo-footer,
  .footer-text {
    text-align: left;
  }

  .container-tablet {
    margin-bottom: 0;
  }

  .box {
    display: flex;
    align-items: baseline;
  }

  .box-one {
    margin-right: 70px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .container-email {
    margin-left: auto;
  }

  .container-join {
    margin-right: 93px;
  }

  .user-email {
    flex-direction: row;

    & input {
      margin: 0;
      padding-left: 16px;
      padding-right: auto;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    & input::placeholder {
      color: rgba(255, 255, 255, 0.6);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .mail-user {
    width: 358px;
  }

  .click {
    margin-left: 12px;
  }
}
