.wort-item {
  margin-bottom: 50px;
}
.section-padding {
  padding-bottom: 94px;
  @media screen and (max-width: 1170px) {
    display: none;
    padding-bottom: 60px;
  }
}

.work-space {
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-space__item {
  & + & {
    margin-left: 30px;
  }
}

.container__work-space {
  position: relative;
}

.work-space__overlay {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  text-align: center;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  right: 0;
  bottom: 0;
}
