.section-title-name {
  @include font(16px, 500, 1.19);
  color: var(--section-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.section-text-name {
  @include font(16px, 400, 1.19);
  text-align: center;
  margin-bottom: 16px;
}

.team__text {
  margin-bottom: 30px;
}

.section-team {
  box-shadow: var(--third-shadow);
  background-color: var(--primary-white-color);
  margin-bottom: 30px;
}

.comand-fon {
  background-color: var(--button-galery-box);
  padding-bottom: 60px;
}

.team-icon {
  display: block;
  max-width: 100%;
  height: auto;
}

.team {
  display: flex;
  justify-content: center;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 122px;
  padding-right: 122px;
}

.team-link {
  margin-left: 22px;
}

@media screen and (min-width: 768px) {
  .team-picture {
    width: 354px;
    height: 374px;
  }

  .section-item {
    display: flex;
  }

  .section-team {
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 30px;
  }

  .section-ul-team {
    margin-top: -30px;
    margin-left: -30px;
  }

  .team-box {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team-picture {
    width: 270px;
    height: 260px;
  }

  .team__text {
    margin-bottom: 50px;
  }

  .team-box {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .comand-fon {
    margin-bottom: 0;
    padding-bottom: 94px;
    @media screen and (max-width: 1170px) {
      padding-bottom: 60px;
    }
  }
}
