.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background: var(--primary-white-color);
  transform: translate(-50%, -50%);
  animation-name: changeModalBtn;
  animation-duration: 250ms;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
