.section-text {
  line-height: 1.71;
}

.section-title {
  @include font(28px, 700, 1.19);
  color: var(--section-text-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-title {
    @include font(28px, 700, 1.19);
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    @include font(36px, 700, 1.17);
  }
}
