body {
  @include font(14px, 400, 1.14);
  color: var(--primary-text-color);
  font-family: var(--main-font), sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link-ul {
  list-style: none;
}

.link-a-href {
  text-decoration: none;
}

.button,
.button-galery {
  cursor: pointer;
}

.section {
  padding-top: 94px;
}
